h1{
  font-family:tahoma;
  font-weight:700;
  font-size:40;
  font-variant:small caps;
  text-align:center;
  padding:0;
  padding-bottom:0;
  color:#246B26;
}

body{
  background-color:#E4E4E4;
}


.header{
  font-family:tahoma;
  font-size:20;
  color:black;
  margin-top:2rem;
}

.subline{
  font-family:tahoma;
  font-weight:500;
  font-style:bold;
  font-size:20;
  margin:0;
  color:#8A5B38;
  text-align:center;
}

.form{
  background-color:#A67A53;
  margin:10px;
  top-margin:30px;
  }

label{
  color:#643914;
  font-family:sans-serif;
  padding:5px;
  font-style:bold;
}

input{
  margin:5px;
  background-color:#CBAB8E;
  color:black;
  font-size:15;
  min-width:10rem;
  max-width:60rem;
  font-family:caption;
}

.radio{
  color:black;
  font-family:tahoma;
  font-size:14;
}

textarea{
  margin:5px;
  background-color:#CBAB8E;
  color:white;
  font-size:15;
  min-width:300px;
  max-width:1000px;
  font-family:caption;
}
